#myWork {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ccc;
  background: linear-gradient(rgba(0, 0, 25, 0.205), rgba(0, 0, 25, 0.452));
  background: linear-gradient(62deg, #101011e8 0%, #82868acc 100%),
    url(/img/nature.jpg);
  text-align: center;
  background-size: cover;
  background-position: center;
}

.boxProjects {
  width: 90%;
  margin: 0 auto;
}

.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}

.titleMyWork {
  padding: 0px;
  color: antiquewhite;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.945));
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: "Monomaniac One", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

.hrMyWork {
  width: 300px;
}

.projectName {
  color: antiquewhite;
  text-shadow: black 2px 0 10px;
  font-size: 20px;
  margin: 10px 70px 10px 70px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.project {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: url(/img/background-leaves.jpg);
  overflow: hidden;
}

.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imgLink[data]:hover:after {
  content: attr(data);
  font-size: 25px;
  padding: 4px 8px;
  color: antiquewhite;
  position: absolute;
  white-space: nowrap;
  z-index: 3;
  border-radius: 5px;
  background: rgb(0, 0, 0);
}
.imgLink:hover,
.project img:hover {
  background: rgba(76, 175, 80, 0.3);
  opacity: 0.7;
  scale: 1.016;
  transition: 0.5s;
}

.project:hover {
  background: rgba(76, 175, 80, 0.3);
  text-shadow: black 2px 0 10px;
}

.hide {
  visibility: hidden;
}

.imgLink {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkCode {
  color: rgb(212, 191, 191);
  text-shadow: black 2px 0 10px;
  padding: 0;
  text-decoration: none;
}

.checkCode:hover {
  color: salmon;
  font-size: 19px;
  transition: 0.8s;
  text-shadow: black 2px 0 10px;
  background-color: rgba(0, 0, 0, 0.329);
  border-radius: 8px;
  padding-left: 8px;
  padding-right: 8px;
  box-shadow: inset 150px 0 0 0 salmon;
  color: white;
}

.textBox {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

@media only screen and (max-width: 1400px) {
  .titleMyWork {
    font-size: 25px;
    margin-bottom: 50px;
  }

  .project {
    margin-top: 10px;
  }

  .projectName {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.boxProjects {
  width: 85%;
}

@media only screen and (max-width: 1024px) {
  .boxProjects {
    width: 80%;
  }

  .titleMyWork {
    font-size: 23px;
    padding-top: 0px;
    margin-bottom: 10px;
  }

  .imgProj {
    height: 300px;
  }

  .imgLink[data]:hover:after {
    font-size: 22px;
  }

  .checkCode {
    font-size: 15px;
  }

  .checkCode:hover {
    font-size: 18px;
  }

  .projectName {
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .textBox {
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .slick-slide > div {
    scale: 0.9;
  }
}
